<mat-tab-group dynamicHeight>
  <mat-tab label="Text">
    <div class="example-small-box mat-elevation-z4">
      <form class="example-form">
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input
              matInput
              #title
              maxlength="300"
              placeholder="Ex. Cool Dog"
              [(ngModel)]="value"
              name="value"
            />
            <mat-hint align="end">{{ title.value.length }} / 300</mat-hint>
          </mat-form-field>
        </p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Spill your thoughts...</mat-label>
          <textarea
            matInput
            #content
            placeholder="Ex. It makes me feel..."
            [(ngModel)]="formValue"
              name="formValue"
          ></textarea>
        </mat-form-field>
      </form>
      <button
        (click)="addPost(title.value, content.value)"
        (click)="value=''"
        (click)="formValue=''"
        class="btn btn-primary"
      >
        Post
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Link">
    <div class="example-small-box mat-elevation-z4">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> Url Link</mat-label>
          <span matSuffix>🔗</span>
          <input
            type="text"
            matInput
            [formControl]="urlFormControl"
            #url
            placeholder="www.google.com"
            [(ngModel)]="urlValue"
            name = "urlValue"
          />
          <mat-error
            *ngIf="
              urlFormControl.hasError('url') &&
              !urlFormControl.hasError('required')
            "
          >
            Please enter a valid Url
          </mat-error>

        </mat-form-field>
      </form>
      <button
        (click)="addPost('Url:', url.value)"
        (click)="urlValue=''"
        [disabled]="urlFormControl.invalid"
        class="btn btn-primary"
      >
        Post
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Media">
    <div class="example-large-box mat-elevation-z4">
      <img
        src="https://media.istockphoto.com/vectors/coming-soon-lettering-coming-soon-for-promotion-advertisement-sale-vector-id1221240925?k=20&m=1221240925&s=612x612&w=0&h=HX77CIwJ34u7qUMpI_W5z4dDnEbHGv66mGXVTpIccv8="
      />
    </div>
  </mat-tab>
</mat-tab-group>
