<div *ngIf="posts$" class="card">
  <div class="card-header">Featured</div>
  <div class="card-body" *ngFor="let post of posts$ | async | sort">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text" *ngIf="post.title.includes('Url:')">
      <a href="https://{{ post.body }}" target="_blank">{{ post.body }}</a>

    </p>
    <p class="card-text" *ngIf="!post.title.includes('Url:')">
      {{ post.body }}
    </p>

    <button (click)="incrementPost(post)" class="btn btn-outline-success">
      👍
    </button>
    <button (click)="decrementPost(post)" class="btn btn-outline-danger">
      👎
    </button>
    <b>{{ post.points }}</b>
    <button (click)="delPost(post)" class="btn btn-danger">Remove</button>
    <input type="text" #comment>
    <button (click)="addComment(post, comment.value)">reply</button>

    </div>
  </div>

